**/config
*/data
*/downloads
*/passwd
.env
**/node_modules
.next
**/.swc/
**/database
**/storage
**/cache
**/.github/
**/emails.js
.env
.env.*

depravity pushcart drab varsity latter hastily stuffing cheesy